<%= bootstrap_form_for(@item_type) do |f| %>

  <%= f.text_field :name, label: 'Nazwa' %>

  <p>
    <label>Dodatkowe atrybuty grupy</label>
    <%= f.text_field :feature_keys, label: nil, hide_label: true, 'data-role'=>'tagsinput' %>
  </p>

  <%= f.form_group :icon, label: {text: 'Ikona'}, help: nil do %>

    <br />
    <div class="row">
      <% item_type_icons.each do |it| %>
        <div class="col-md-1">
          <%= f.radio_button :icon, it, label: ('<i class="' + it + ' fa-lg" aria-hidden="true"></i>').html_safe, inline: true %>
        </div>
      <% end %>
    </div>  
  <% end %>

  <div class="actions">
    <%= f.submit 'Zapisz', class: 'btn btn-success' %>
    <%= link_to 'Wróć', items_path, class: 'btn btn-default' %>
    <%= link_to 'Usuń typ', item_type, class: 'btn btn-danger', method: :delete, data: { confirm: 'Na pewno chcesz usunąć typ? Wszystkie powiązane z typ typem przedmioty zostaną także usunięte. Operacja ta jest nie odwracalna.' } if !@item_type.new_record?%>
  </div>

<% end %>
