<style>
.btn-light { border: 1px gray solid; }
</style>

<div class="page-inner">
  <div class="page-title">
      <h3 class="breadcrumb-header">Typy sprzętu</h3>
      <%= link_to '<i class="fa fa-plus"></i> Dodaj typ'.html_safe, new_item_type_path, class: 'btn btn-info'  %>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12"><br>

        <% @item_types.each do |item_type| %>
          <span> 
            
            <%= link_to edit_item_type_path(item_type), class: 'btn btn-light btn-rounded' do %>
              <i class="<%= item_type.icon %> fa-fw" aria-hidden="true"></i>
              <%= item_type.name %>
            <% end %>
          </span>
        <% end %>

      </div>
    </div>
  </div>
</div>

