<style>
  .now {background-color: #f6f6f6 !important;}
  .schedule-table tbody tr td { padding: 5px 0px; }
  .schedule-table {table-layout: fixed; width: 100%;}
  
  .schedule-table tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table tbody tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table thead tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .bar-start { margin-left: 20px !important; }
  .bar-end { margin-right: 20px !important; }
  .progress-bar-dummy { background-color: rgba(255, 255, 255, 255) }
  </style>

<div class="page-inner">
  <div class="page-title">
      <h3 class="breadcrumb-header">Tablica</h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-white stats-widget">
          <div class="panel-body">
            <div class="pull-left">
              <span class="stats-number"><%= @item_count %> szt.</span>
              <p class="stats-info">Sprzętu w magazynie</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-white stats-widget">
          <div class="panel-body">
            <div class="pull-left">
              <span class="stats-number"><%= @item_type_count %></span>
              <p class="stats-info">Rodzajów sprzętu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-white stats-widget">
          <div class="panel-body">
            <div class="pull-left">
              <span class="stats-number"><%= @item_group_count %></span>
              <p class="stats-info">Grup</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-white stats-widget">
          <div class="panel-body">
            <div class="pull-left">
              <span class="stats-number"><%= @order_count %></span>
              <p class="stats-info">Zleceń</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Row -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
            <h4 class="panel-title">
              Harmonogram 
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 20px">
                  Pobierz PDF 
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to schedule_path(from: -7, to: 0) do %>
                      Poprzedni tydzień 
                      (<%= (Time.now - 7.days - Time.now.wday.days + 1.days).strftime("%d-%m") %>
                       - <%= (Time.now + 0.days - Time.now.wday.days).strftime("%d-%m") %>)
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to schedule_path(from: 0, to: 7) do %>
                      Obecny tydzień 
                      (<%= (Time.now - Time.now.wday.days + 1.days).strftime("%d-%m") %>
                       - <%= (Time.now + 7.days - Time.now.wday.days).strftime("%d-%m") %>)
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to schedule_path(from: 7, to: 14) do %>
                      Następny tydzień 
                      (<%= (Time.now + 7.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
                       - <%= (Time.now + 14.days - Time.now.wday.days).strftime("%d-%m") %>)
                    <% end %>
                  </li>
                  <li>
                    <%= link_to schedule_path(from: 14, to: 21) do %>
                      Za 2 tygodnie 
                      (<%= (Time.now + 14.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
                       - <%= (Time.now + 21.days - Time.now.wday.days).strftime("%d-%m") %>)
                    <% end %>
                  </li>
                  <li>
                    <%= link_to schedule_path(from: 21, to: 28) do %>
                      Za 3 tygodnie 
                      (<%= (Time.now + 21.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
                       - <%= (Time.now + 28.days - Time.now.wday.days).strftime("%d-%m") %>)
                    <% end %>
                  </li>
                </ul>
              </div>
              
          </div>
          <div class="panel-body">
            <table class="schedule-table" style="">
              <thead>
                <tr>
                  <th></th>
                  <% (-2..5).each do |i| %>
                  <th class="<%= i == 0 ? 'now' : '' %>">
                    <div class="text-center">
                      <%= wday_local Time.now.wday + i %><br>
                      <small> <%= (Time.now + i.days).strftime("%d-%m") %></small>
                    </div>
                  </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |(name, value)| %>
                  <tr>
                    <th>
                      <%= link_to name, item_group_path(value[:id]) %>
                    </th>
                    <% (-2..5).each do |i| %>
                      <td class="<%= i == 0 ? 'now' : '' %>" style="vertical-align: top;">
                        <% value[:orders].each do |order| %>
                          <% if order.date_from.beginning_of_day <= (Time.now.utc + i.days).beginning_of_day && order.date_to.beginning_of_day >= (Time.now.utc + i.days).beginning_of_day %>
                            <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                              <div class="progress-bar <%= bar_color(order, i) %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: 10px;">
                                <div class="text-center" style="float: left; width: 40px; line-height: 18px; border-right: 1px solid rgba(0,0,0,0.1); padding-left: 3px;">
                                  <% if order.date_from.mday == (Time.now + i.days).mday && order.date_to.mday == (Time.now + i.days).mday %>
                                    <%= order.date_from.strftime("%H:%M") %><br><%= order.date_to.strftime("%H:%M") %>
                                  <% elsif order.date_from.mday == (Time.now + i.days).mday %>
                                    <%= order.date_from.strftime("%H:%M") %><br><i class="fa fa-minus" aria-hidden="true"></i>
                                  <% elsif order.date_to.mday == (Time.now + i.days).mday %>
                                    <i class="fa fa-minus" aria-hidden="true"></i><br><%= order.date_to.strftime("%H:%M") %>
                                  <% else %>
                                    <i class="fa fa-minus" aria-hidden="true"></i><br><i class="fa fa-minus" aria-hidden="true"></i><!-- <i class="fa fa-minus" aria-hidden="true"></i> -->
                                  <% end %>
                                </div>
                                <div class="text-left" style="margin-left: 45px; line-height: 18px; padding-left: 3px; font-weight: 100;white-space: nowrap;flex-wrap: nowrap;">
                                  <%= order.name %><br><%= order.owner %>
                                </div>
                              </div>
                            </div>
                          <% else %>
                            <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                              <div class="progress-bar progress-bar-dummy <%= i == 0 ? 'now' : '' %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: inherit;">
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- Row -->
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-white"> 
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Zlecenia</h4>
            </div>
            <div class="panel-body">
                <div class="browser-stats">
                    <ul class="list-unstyled">
                      <% @orders.each_with_index do |order, i| %>
                        <li class="order-list" style="display:<%= i >= 8 ? 'none' : ''%>">
                          <%= order.name %> (<%= order.number %>)
                          <% if Time.now > order.date_to %>
                            <div class="text-danger pull-right">powinien być zwrócony <%= time_ago_in_words(order.date_to) %> temu<i class="fa fa-minus"></i></div>
                          <% elsif Time.now < order.date_from %>
                            <div class="text-success pull-right">wypożyczenie za <%= time_ago_in_words(order.date_from) %><i class="fa fa-level-up"></i></div>
                          <% else Time.now > order.date_to%>
                            <div class="text-info pull-right">zwrot za <%= time_ago_in_words(order.date_to) %><i class="fa fa-level-down"></i></div>

                          <% end %>
                        </li>
                      <% end %>
                      <% if @orders.count > 8 %>
                        <a id="reveal-orders" href="#!">
                          <small><i class="fa fa-arrow-down"></i> pokaż wszystkie <%= @orders.count %></small>
                        </a>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Sprzęt serwisowany</h4>
            </div>
            <div class="panel-body">
                <div class="project-stats">
                    <ul class="list-unstyled">
                      <% @service_items.each_with_index do |item, i| %>
                        <li class="item-list" style="display:<%= i >= 8 ? 'none' : ''%>">
                          <%= link_to item do %>
                            <%= item.label %>
                          <% end %>
                          <span class="label label-default pull-right">
                            <%= time_ago_in_words(recent_service_date(item.audits)) %> ago
                          </span>
                        </li>
                      <% end %>
                      <% if @service_items.count > 8 %>
                        <a id="reveal-items" href="#!">
                          <small><i class="fa fa-arrow-down"></i> pokaż wszystkie <%= @service_items.count %></small>
                        </a>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
$('#reveal-items').on('click', function(){
  $(this).slideUp()
  $('.item-list').slideDown();
})
$('#reveal-orders').on('click', function(){
  $(this).slideUp()
  $('.order-list').slideDown();
})
</script>