<style>
  .now { }
  .schedule-table tbody tr td { padding: 5px 0px; }
  .schedule-table {table-layout: fixed; width: 100%;}
  
  .schedule-table tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table tbody tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table thead tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .bar-start { margin-left: 20px !important; }
  .bar-end { margin-right: 20px !important; }
  .progress-bar-dummy { background-color: rgba(255, 255, 255, 255); border: 0px !important; }
  thead { display: table-header-group }
	tfoot { display: table-row-group }
	tr { page-break-inside: avoid }
  .progress-bar {text-overflow: clip; white-space: nowrap; overflow: hidden;}
</style>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <table class="schedule-table" style="">
          <thead>
            <tr>
              <th><p style="text-align: center; color: #0070E0 !important"><b>CAMMAG</b></p></th>
              <% (@from .. @to).each do |i| %>
              <th class="<%= i == 0 ? 'now' : '' %>">
                <div class="text-center">
                  <%= wday_local Time.now.wday + i %><br>
                  <small> <%= (Time.now + i.days).strftime("%d-%m") %></small>
                </div>
              </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |(name, value)| %>
              <tr>
                <th>
                  <%= name %>
                </th>
                <% (@from.. @to).each do |i| %>
                  <td class="<%= i == 0 ? 'now' : '' %>" style="vertical-align: top;">
                    <% value[:orders].each do |order| %>
                      <% if order.date_from.beginning_of_day <= (Time.now.utc + i.days).beginning_of_day && order.date_to.beginning_of_day >= (Time.now.utc + i.days).beginning_of_day %>
                        <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                          <div class="progress-bar <%= bar_color(order, i) %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: 10px; background-color: <%= bar_color_pdf(order, i) %>;">
                            <div class="text-center" style="float: left; width: 40px; line-height: 18px; padding-left: 3px;">
                              <% if order.date_from.beginning_of_day == (Time.now.utc + i.days).beginning_of_day && order.date_to.beginning_of_day == (Time.now.utc + i.days).beginning_of_day %>
                                <%= order.date_from.strftime("%H:%M") %><br><%= order.date_to.strftime("%H:%M") %>
                              <% elsif order.date_from.beginning_of_day == (Time.now.utc + i.days).beginning_of_day %>
                                <%= order.date_from.strftime("%H:%M") %><br>---
                              <% elsif order.date_to.beginning_of_day == (Time.now.utc + i.days).beginning_of_day %>
                                ---<br><%= order.date_to.strftime("%H:%M") %>
                              <% else %>
                                ---<br>---
                              <% end %>
                            </div>
                            <div class="text-left" style="margin-left: 45px; line-height: 18px; padding-left: 3px; font-weight: 100;white-space: nowrap; flex-wrap: nowrap; ">
                              <%= order.name %><br><%= order.owner %>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                          <div class="progress-bar progress-bar-dummy <%= i == 0 ? 'now' : '' %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: inherit;">
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- Row -->