<%= bootstrap_form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="col-md-6">
      <%= f.text_field :name, label: 'Nazwa' %>
    </div>

    <div class="col-md-6">
      <%= f.text_field :number, label: 'Numer' %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-6">
      <%= f.text_field :owner, label: 'Wypożyczający' %>
    </div>

    <div class="col-md-6">
      <%= f.text_field :manager, label: 'Kierownik produkcji' %>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label>Data od</label>
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' name="order[date_from]" class="form-control" value="<%= params[:order][:date_from] rescue "" %>" />
          <span class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label>Data do</label>
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' name="order[date_to]" class="form-control" value="<%= params[:order][:date_to] rescue "" %>" />
          <span class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>

    </div>
  </div>


  <%= f.text_area :description, label: 'Uwagi' %>

  <%= f.select :item_ids, Item.where(status: ITEM_SERVICE).collect {|x| ["#{x.name} (#{x.ean})", x.id]}, { label: 'Sprzęt'}, :multiple => true, :data => {:placeholder => "Wybierz..."}, class: 'chosen-select' %>
  <%= f.select :group_ids, (ItemGroup.all - ItemGroup.includes(:items).where(items: {status: [ITEM_SERVICE]})).collect {|x| [x.name, x.id]}, { label: 'Grupy'}, :multiple => true, :data => {:placeholder => "Wybierz..."}, class: 'chosen-select' %>

  <% if @conflict_orders.empty? %>
    <p class="text-muted">Upewnij się, że wybrany sprzęt nie koliduje terminami z innym zleceniem!</p>
  <% else %>
    <p class="text-danger">Wybrany sprzęt koliduje z następującymi zleceniami: </p>
    <% @conflict_orders.each do |(o, v)| %>
      <p class="text-danger"><%= o %> (<%= v[:order].date_from.strftime("%d-%m-%Y %H:%M") %> do <%= v[:order].date_from.strftime("%d-%m-%Y %H:%M") %>):<br>
        <% v[:items].each do |i| %>
          - <%= i.name %> (<%= i.item_group.name %>)<br>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Zapisz', class: 'btn btn-success' %>
    <%= link_to 'Wróć', items_path, class: 'btn btn-default' %>
  </div>
<% end %>
<script>
    $(document).ready(function(){
        $('.chosen-select').chosen();
    });
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });

</script>