<style>
  h2, h3, table { font-family: 'Times New Roman', serif; }
  table.table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
  }

  td.table {
    border: 1px solid black;
  }
  th.table {
    border: 1px solid black;
  }
</style>

<div style="float: left;">
  <p style="text-align: left; color: #0070E0 !important"><b>CAMMAG</b></p>
</div>
<div style="float: right;">
  <p style="text-align: right;"><%= Time.now.strftime("%d-%m-%Y") %></p>
</div>
<br>

<div style="margin: auto; text-align: center;">
  <h1>Protokół wydania sprzętu</h1>
  <h2>Zlecenie "<%= @order.name %>" numer <%= @order.number %></h2>
  <%= @order.barcode.html_safe %><br>
  <%= @order.number.rjust(8, '0') %>
</div>

<table cellpadding="5">
  <tr>
    <th style="text-align: right; width: 350px;">Wydający:</th>
    <td style="width: 350px;">Pan Józek</td>
    <th style="text-align: right; width: 350px;">Data wydania:</th>
    <td style="width: 350px;"><%= Time.now.strftime("%d-%m-%Y %H:%M") %></td>
  </tr>
</table>
<hr>
<h3>Szczegóły zlecenia:</h3>
<table cellpadding="5">
  <tr>
    <th style="text-align: right; width: 350px;">Nazwa:</th>
    <td style="width: 350px;"><%= @order.name %></td>
    <th style="text-align: right; width: 350px;">Numer:</th>
    <td style="width: 350px;"><%= @order.number %></td>
  </tr>
  <tr>
    <th style="text-align: right; width: 350px;">Wypożyczający:</th>
    <td><%= @order.owner %></td>
    <th style="text-align: right; width: 350px;">Data od:</th>
    <td><%= @order.date_from.strftime("%d-%m-%Y %H:%M") %></td>
  </tr>
  <tr>
    <th style="text-align: right; width: 350px;">Kierownik Produkcji:</th>
    <td><%= @order.manager %></td>
    <th style="text-align: right; width: 350px;">Data do:</th>
    <td><%= @order.date_to.strftime("%d-%m-%Y %H:%M") %></td>
  </tr>
</table>
<h3>Uwagi:</h3>
<p><%= @order.description %></p>
<hr>
<h3>Sprzęt wydany:</h3>
<table class="table" cellpadding="4">
  <tr>
    <th class='text-right table'>L.P.</th>
    <th class='text-right table'>Nazwa</th>
    <th class='text-right table'>EAN</th>
    <th class='text-right table'>Typ</th>
    <th class='text-right table'>Grupa</th>
  </tr>
  <% @items.each_with_index do |item, i| %>
    <tr>
      <td class="table"><%= i+1 %></td>
      <td class="table"><%= item.name %> <%= @order.items.include?(item) ? '' : '(+)' %></td>
      <td class="table"><%= item.ean %></td>
      <td class="table"><%= item.item_type.name %></td>
      <td class="table"><%= item.item_group.name %></td>
    </tr>
  <% end %>
</table>
<div style="float: left; margin: 120px; border-top: 1px black solid">podpis przyjmującego</div>
<div style="float: right; margin: 120px; border-top: 1px black solid">podpis wydającego</div>
