<style>
  .order-table {table-layout: auto;}
  table tr td {
    padding: 5px;
  }
    table tr th {
    padding: 5px;
    font-weight: 800;
  }

  .item {
    margin: 2px;
  }

  .item-inactive {
    color: #dcdcdc
  }
  .card-back{
    display: none;
  }
</style>


<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header"><%= params[:back] ? 'Zdaj sprzęt' : 'Wydaj sprzęt' %></h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div style="float: left; max-width: 600px;">
          <%= bootstrap_form_for(@order, url: order_pdf_raport_path(@order), method: :post) do |f| %>
            <div id="focus-id">
              <label>Zeskanuj sprzęt</label>
              <%= f.text_field :number, value: "", label: nil, hide_label: true, 'data-role' => 'tagsinput', width: 300 %>
              <input type="hidden" name="order[back]" value="<%= params[:back] %>">
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Szczegóły zlecenia</h4>
                  </div>
                  <div class="modal-body">
                    <%= f.text_field :owner, label: 'Osoba' %>
                    <%= f.text_area :description, label: 'Opis' %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "Dalej", class: "btn btn-success", :formtarget => "_blank", id: 'submit-form' %>
                  </div>
                </div>
              </div>
            </div>
            <% if @order.id == 1 %>
              <%= f.submit "Zdaj zeskanowany sprzęts", class: "btn btn-success btn-lg" %>
            <% end %>
          <% end %>
          <% if @order.id != 1 %>
          <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-lg btn-counter"><%= params[:back] ? 'Zdaj zeskanowany sprzęt' : 'Wydaj zeskanowany sprzęt' %></button>
          <% end %>

        </div>
        <% if @order.id != 1 %>
          <div style="float: left; margin-left: 150px;">
            <h5>Szczegóły zlecenia:</h5>
            <table class="order-table">
              <tr>
                <th style="text-align: right;"">Nazwa:</th>
                <td><%= @order.name %></td>
                <th style="text-align: right;">Numer:</th>
                <td><%= @order.number %></td>
              </tr>
              <tr>
                <th style="text-align: right;">Wypożyczający:</th>
                <td><%= @order.owner %></td>
                <th style="text-align: right;">Data od:</th>
                <td><%= @order.date_from.strftime("%d-%m-%Y %H:%M") %></td>
              </tr>
              <tr>
                <th style="text-align: right;">Kierownik Produkcji:</th>
                <td><%= @order.manager %></td>
                <th style="text-align: right;">Data do:</th>
                <td><%= @order.date_to.strftime("%d-%m-%Y %H:%M") %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <% if @order.id != 1 %>
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class='panel-heading'>
            <h4 class='panel-title'>Sprzęt do <%= params[:back] ? 'zdania' : 'wydania' %></h4>
            <% if !params[:back] && (@order.items.pluck(:status).uniq & [ITEM_BUSY, ITEM_SERVICE]).count > 0 %>
              <div class="alert alert-danger" role="alert"><b>Uwaga!</b> Nie wszystkie przedmioty są dostępne.</div>
            <% end %>
          </div>
          <div class="panel-body">
            <div class="row items">
              <table class='responsive table table-sm'>
                <% @order.items.each do |item| %>
                  <% next if params[:back] && ![ITEM_BUSY, ITEM_SERVICE].include?(item.status) %>
                  <tr>
                    <td>
                      <%= link_to item.name, item, style: "color: inherit" %>
                    </td>
                    <td>
                      <%= link_to item, style: "color: inherit" do %>
                        <%= item.ean %>
                      <% end %>
                    </td>
                    <td>
                      <% if item.item_type %>
                        <%= item.item_type.fa %>
                        <%= item.item_type.name %>
                      <% end %>
                    </td>
                    <td>
                      <% if item.item_group %>
                        <%= link_to item.item_group.name, item.item_group, style: "color: inherit" %>
                      <% else %>
                        (brak)
                      <% end %>
                    </td>
                    <td class="col-md-2">
                      <div>
                        <% if (params[:back] && [ITEM_ACTIVE, ITEM_RESERVED].include?(item.status)) || (!params[:back] && [ITEM_BUSY, ITEM_SERVICE].include?(item.status))%>
                          <% case item.status %>
                        <% when ITEM_ACTIVE %>
                            <span class="label label-default"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Na stanie</span>
                          <% when ITEM_RESERVED %>
                            <span class="label label-default"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Rezerwacja</span>
                          <% when ITEM_BUSY %>
                            <span class="label label-default"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Zajęty</span>
                          <% when ITEM_SERVICE %>
                            <span class="label label-danger"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Serwis</span>
                          <% else %>
                            -
                          <% end %>
                        <% else %>
                          <div class='card <%= item.ean %>-back card-back'>
                            <span class="label label-success"><i class="fa fa-fw fa-check" aria-hidden="true"></i>
                              <%= params[:back] ? 'Zdany' : 'Wydany' %>
                            </span>&nbsp;
                            <%= link_to item_service_path(item), remote: true, class: 'btn btn-danger btn-xs' do %>
                              <i class="fa fa-fw fa-wrench"></i>
                              Serwisuj
                            <% end %>
                          </div>
                          <div class='card <%= item.ean %>-front card-front'>
                            <span class="label label-info"><i class="fa fa-barcode fa-fw"></i> Zeskanuj</span>
                          </div>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class='panel-heading'>
            <h4 class='panel-title'>Sprzęt <%= params[:back] ? 'zdany' : 'wydany' %> dodatkowo</h4>
          </div>
          <div class="panel-body">
            <table class="responsive table table-sm">
              <tbody class="items-container">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  // fucus input even if lost
  setTimeout(function () {
    $('input:text')[1].focus();
    $('#filter-input').on('focusout', function () {
      if ( $('.modal').attr('style') != "display: block;"){
        $('input:text')[1].focus();
      }
    })
  }, 500);

  $('#submit-form').on('click', function(){
    setTimeout(function(){
      window.location.href = "<%= orders_path %>";
    }, 250)
  })

    $('input:text').on('itemAdded', function (event) {
        // event.item: contains the item
        var cardFront = $('.' + event.item + '-front');
        var cardBack = $('.' + event.item + '-back');

        if (cardFront.length > 0) {
            cardFront.fadeOut(function(){ cardBack.fadeIn()});
            toastr.success('Znaleziono przedmiot', 'Sukces');
        } else {
            $.get('/ajax?<%= params[:back] ? 'back=true&' : '' %>ean=' + event.item + '&order=' + <%= @order.id %>, function (data) {
                if (data.length > 100) {
                    $('.items-container').append(data)
                    toastr.warning('Znaleziono przedmiot spoza zamówienia', 'Uwaga');
                } else {
                    $($('span[data-role=remove]')[$('span[data-role=remove]').length-1]).trigger('click');
                    toastr.error('Przedmiot nie dostępny', 'Błąd');
                }
            })
        }
        if ($('.card').length == $('.card.is-flipped').length) {
            toastr.success('Wydano cały sprzęt.', 'Sukces');
        }

        // remove removal from tags input
        // $('span[data-role=remove]').hide()

        // refresh counter
        $('.btn-counter').attr('value', 'Wydaj zeskanowany sprzęt (' + $('span[data-role=remove]').length + ')')

        $("a[data-remote]").off();

        $("a[data-remote]").on("ajax:success", function(e){
          toastr.warning('Przekazano do serwisu', 'Sukces');
          console.log(this)
          $(this).parent('div').parent('div').parent('td').parent('tr').css('color', '#dedede');
          $(this).parent('div').html('<span class="label label-danger"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Serwis</span>')
        });

    });

    $('input:text').on('itemRemoved', function (event) {
      // remove from extra items
      $('#' + event.item).remove();

      // remove from main items
      var cardFront = $('.' + event.item + '-front');
      var cardBack = $('.' + event.item + '-back');
      cardBack.fadeOut(function(){ cardFront.fadeIn()});
    });

    

</script>