<%= bootstrap_form_for(@item_group) do |f| %>

  <%= f.text_field :name, label: 'Nazwa' %>

  <%= f.select :item_ids, Item.where(item_group_id: [nil, @item_group.id]).collect {|x| [x.name, x.id]}, {label: 'Sprzęt'}, :multiple => true, class: 'chosen-select' %>

  <div class="actions">
    <%= f.submit 'Zapisz', class: 'btn btn-success' %>
    <%= link_to 'Wróć', item_groups_path, class: 'btn btn-default' %>
    <%= link_to 'Usuń zestaw', item_group, class: 'btn btn-danger', method: :delete, data: { confirm: 'Na pewno chcesz usunąć zestaw? Operacja ta jest nie odwracalna.' } if !@item_group.new_record?%>
  </div>

<% end %>

<script> 
$(document).ready(function(){
  $('.chosen-select').chosen();
});
</script>