<div class="page-inner">
  <div class="page-title">
      <h3 class="breadcrumb-header">Zestawy</h3>
      <%= link_to '<i class="fa fa-plus"></i> Dodaj zestaw'.html_safe, new_item_group_path, class: 'btn btn-info'  %>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">

        <br>
        <div class="form-group">
          <input class="form-control" type="text" onkeyup="filterInput()" placeholder="Filtruj.." id="filter-input">
        </div>
          <table class='responsive table table-sm' id="table">
            <thead class="thead-light">
              <tr>
                <th>Nazwa</th>
                <!-- <th></th> -->
                <th>Sprzęt</th>
              </tr>
            </thead>

            <tbody>
              <% @item_groups.each do |item_group| %>
                <tr>
                  <td>
                    <%= link_to item_group.name, item_group, class: item_group.unavailable? ? 'text-danger' : '' %>
                  </td>
                  <!-- <td>
                    <%= link_to '<i class="fa fa-lg fa-pencil"></i>'.html_safe, edit_item_group_path(item_group), class: (item_group.unavailable? ? 'text-muted' : 'text-warning') unless item_group.unavailable? %>
                    <%= link_to '<i class="fa fa-lg fa-times"></i>'.html_safe, item_group, class: (item_group.unavailable? ? 'text-muted' : 'text-danger'), method: :delete, data: { confirm: 'Are you sure?' } unless item_group.unavailable? %>
                  </td> -->
                  <td>
                    <% item_group.items.each do |q| %>
                      <div class="item-group-item">
                        <%= link_to q.label, q, class: status_to_class(q) %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
<script>
  function filterInput() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("filter-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        txtValue2 = td2.textContent || td2.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1 || 
          txtValue2.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
