<style>
  table tr td {
    padding: 5px;
  }
</style>
<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Szczegóły zestawu</h3>
  </div>
  <div id="main-wrapper">
    <div class='row'>
      <div class='col col-md-2'>
        <div class='text-secondary text-center' style='font-size: 6em;margin-bottom: -25px'>
          <i class="fa fa-folder-o" aria-hidden="true"></i><br>
        </div>
        <div class='text-secondary text-center' style='font-size: 2em; line-height: 30px;'>
          Zestaw
        </div>
      </div>
      <div class='col col-md-10'>
        <h3>
          <%= @item_group.name %>
        </h3>

        <div class='row'>
          <% @item_group.items.each do |item| %>
            <%= link_to item, class: 'text-secondary' do %>
              <div class='col col-md-2'>
                <table>
                  <tr>
                    <td>
                      <div class='text-secondary text-center' style='font-size: 3em;margin-bottom: -15px'>
                        <%= item.item_type.fa %><br>
                      </div>
                      <div class='text-secondary text-center' style='font-size: 0.8em;line-height: 30px;'>
                        <%= item.item_type.name %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= item.name %><br>
                        <%= item.ean %><br>
                        <%= render 'items/item_status', s: item.status if item.status %>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>
    <hr>
<%= link_to 'Edytuj', edit_item_group_path(@item_group), class: (@item_group.unavailable? ? 'btn btn-sm btn-warning disabled' : 'btn btn-sm btn-warning') %>