
  <%= bootstrap_form_for(@item) do |f| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">

      <div class="col-md-6">
        <%= f.text_field :name, label: 'Nazwa' %>
      </div>

      <div class="col-md-6">
        <%= f.text_field :ean, label: 'EAN' %> 
      </div>

    </div>
    <%= f.form_group :item_type_id, label: nil, help: nil do %>
      <div class='row'>
        <% ItemType.all.each do |it| %>
          <div class='col-md-2'>
            <%= f.radio_button :item_type_id, it.id, label: it.label, inline: true %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.text_area :description, label: 'Opis' %>
    <% unless @item.new_record? %>
      <br />
      <h4>Cechy</h4>
      <% @item.item_type.f_keys.each do |k| %>
        <div class='row'>
          <%= f.text_field :features, wrapper: { class: 'col col-md-6' }, name: 'item[features][]', value: @item.features[k], label: k %>
        </div>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Zapisz', class: 'btn btn-success' %>
      <%= link_to 'Wróć', items_path, class: 'btn btn-default' %>
    </div>
  <% end %>