<h4>Historia</h4>
<p style="margin-top: -12px;"><small>wpisów: <%= item.audits.count %></small></p>
<div class="profile-timeline" style="margin-top: 10px;">
  <ul class="list-unstyled">
    <li class="timeline-item">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="timeline-item-post" style="margin-top: -15px;">
            <% item.audits.reverse.each do |a|%>
              <div class="timeline-comment">
                <div class="timeline-comment-header">
                  <p>
                    <%= a.created_at.strftime("%d-%m-%Y %H:%M") %>
                  </p>
                </div>
                <p class="timeline-comment-text">
                  <table>
                    <% a.audited_changes.each do |k, v| %>
                      <tr>
                        <td class='text-right'>
                          <%= audited_item_header(k) %>
                        </td>
                        <td class=''>
                          <% if v.is_a? Array %>
                            <span class='text-warning'>
                              <%= audited_item_value(k, v.first).to_s.html_safe %>
                            </span>
                            ->
                            <span class='text-success'>
                              <%= audited_item_value(k, v.last).to_s.html_safe %>
                            </span>
                          <% else %>
                            <span class='text-success'>
                              <%= audited_item_value(k, v).to_s.html_safe %>
                            </span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>