<% case s %>
<% when ITEM_ACTIVE %>
  <span class="label label-success"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Na stanie</span>
<% when ITEM_RESERVED %>
  <span class="label label-warning"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Rezerwacja</span>
<% when ITEM_BUSY %>
  <span class="label label-info"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Zajęty</span>
<% when ITEM_SERVICE %>
  <span class="label label-danger"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Serwis</span>
<% else %>
  -
<% end %>