<h4>Historia serwisowa</h4>
<p style="margin-top: -12px;"><small>wpisów: <%= item.histories.count %></small></p>
<div class="profile-timeline" style="margin-top: 10px;">
  <ul class="list-unstyled">
    <li class="timeline-item">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="timeline-item-post" style="margin-top: -15px;">
            <div class="timeline-comment">
              <p class="timeline-comment-text">
                <%= bootstrap_form_for(History.new, url: item_add_history_path(item), method: :post) do |f| %>
                  <%= f.text_area :value, label: 'Wpis serwisowy' %>
                  <%= f.submit 'Dodaj wpis', class: 'btn btn-success' %>
                <% end %>
              </p>
            </div>

            <% item.histories.reverse.each do |history| %>
              <div class="timeline-comment">
                <div class="timeline-comment-header">
                  <p>
                    <%= history.created_at.strftime("%d-%m-%Y %H:%M") rescue '---'%>
                  </p>
                </div>
                <p class="timeline-comment-text">
                <table>
                    <tr>
                      <td class='text-right'>
                        Wpis serwisowy:
                      </td>
                      <td class=''>
                        <%= history.value %>
                      </td>
                    </tr>
                </table>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>