<% if @item %>
  <tr id="<%= @item.ean %>">
    <td>
      <%= link_to @item.name, @item %>
    </td>
    <td>
      <%= link_to @item do %>
        <%= @item.ean %>
      <% end %>
    </td>
    <td>
      <% if @item.item_type %>
        <%= @item.item_type.fa %>
        <%= @item.item_type.name %>
      <% end %>
    </td>
    <td>
      <% if @item.item_group %>
        <%= link_to @item.item_group.name, @item.item_group %>
      <% else %>
        (brak)
      <% end %>
    </td>
    <td class="col-md-2">
      <div>
        <% case @item.status %>
        <% when ITEM_ACTIVE %>
          <span class="label label-success"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Na stanie</span>
        <% when ITEM_RESERVED %>
          <span class="label label-warning"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Rezerwacja</span>
        <% when ITEM_BUSY %>
          <span class="label label-info"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Zajęty</span>
        <% when ITEM_SERVICE %>
          <span class="label label-danger"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Serwis</span>
        <% else %>
          -
        <% end %>
        <%= link_to item_service_path(@item), remote: true, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-fw fa-wrench"></i>
          Serwisuj
        <% end %>
      </div>
    </td>
  </tr>
<% end %>