<table border=1>
  <tr>
    <% @items.each_with_index do |item, i| %>
      <td style='padding: 15px;' class='text-center'>

        <div class='barcode'>
          <%= item.barcode.html_safe %>
        </div>

        <%= item.name %> |
        <%= item.ean %>

        <% if i % 4 == 3 %>
          </tr><tr>
        <% end %>
        
      </td>
    <% end %>
  </tr>
</table>