<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Sprzęt</h3>
    <%= link_to '<i class="fa fa-plus"></i> Dodaj wpis'.html_safe, new_item_path, class: 'btn btn-info' %>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">

        <br>
        <div class="form-group">
          <label for="item_name">Nazwa</label>
          <input class="form-control" type="text" onkeyup="filterInput()" placeholder="Filtruj.." id="filter-input">
        </div>
        <table class='responsive table table-sm' id='dttb-items'>
          <thead>
          <th>Nazwa</th>
          <!-- <th></th> -->
          <th>EAN</th>
          <th>Kod kreskowy</th>
          <th>Typ</th>
          <th>Grupa</th>
          <th>Dostępność</th>
          <!-- <th><%= link_to 'Wypożycz zaznaczone'.html_safe, '', class: 'btn btn-default change_status' %></th> -->
          </tr>
          </thead>

          <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= link_to item.name, item %>
              </td>
              <!-- <td>
                  <%= link_to '<i class="fa fa-lg fa-pencil"></i>'.html_safe, edit_item_path(item), class: 'text-warning' %>
                  <%= link_to '<i class="fa fa-lg fa-times"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>    
                </td> -->
              <td>
                <%= link_to item do %>
                  <%= item.ean %>
                <% end %>
              </td>
              <td>
                <div class='barcode'>
                  <%= item.barcode.html_safe %>
                </div>
              </td>
              <td>
                <% if item.item_type %>
                  <%= item.item_type.fa %>
                  <%= item.item_type.name %>
                <% end %>
              </td>
              <td>
                <% if item.item_group %>
                  <%= link_to item.item_group.name, item.item_group %>
                <% else %>
                  (brak)
                <% end %>
              </td>
              <td>
                <% case item.status %>
                <% when ITEM_ACTIVE %>
                  <span class="label label-success"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Na stanie</span>
                <% when ITEM_RESERVED %>
                  <span class="label label-warning"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Rezerwacja</span>
                <% when ITEM_BUSY %>
                  <span class="label label-info"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Zajęty</span>
                <% when ITEM_SERVICE %>
                  <span class="label label-danger"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Serwis</span>
                <% else %>
                  -
                <% end %>
              </td>
              <!-- <td>
                  <%= check_box_tag item.id %>
                  
                </td> -->
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.change_status').on('click', function (e) {
        e.preventDefault();

        ids = [];
        $('input:checked').each(function () {
            ids.push($(this).attr('id'))
        });

        $.get("<%= change_status_path %>?ids=" + ids.join(','), function (data) {
            $(".result").html(data);
            console.log(data);
            if (data.status == 'success')
                toastr.success(data.msg);
            else if (data.status == 'warning')
                toastr.warning(data.msg);
            else if (data.status == 'error')
                toastr.error(data.msg);
        });

    });

    function filterInput() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filter-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("dttb-items");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            td3 = tr[i].getElementsByTagName("td")[2];
            td4 = tr[i].getElementsByTagName("td")[3];
            td5 = tr[i].getElementsByTagName("td")[4];
            td6 = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                txtValue4 = td4.textContent || td4.innerText;
                txtValue5 = td5.textContent || td5.innerText;
                txtValue6 = td6.textContent || td6.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 ||
                    txtValue2.toUpperCase().indexOf(filter) > -1 ||
                    txtValue3.toUpperCase().indexOf(filter) > -1 ||
                    txtValue4.toUpperCase().indexOf(filter) > -1 ||
                    txtValue5.toUpperCase().indexOf(filter) > -1 ||
                    txtValue6.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>