<div>
  <% @item.audits.each do |a|%>
    <p>Changes for <%= @item.name %>, <% @item.ean %> at <%= a.created_at %> </p>
    <ul>
      <% a.audited_changes.each do |k, v| %>
        <li>
          <%= k %>: <% if v.is_a? Array %> <%= v.first %> -> <%= v.last %> <% else %> <%= v %> <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>