<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Dodaj sprzęt</h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">
  		  <%= render 'form', item: @item %>
		  </div>
    </div>
	</div>
</div>``