<style>
  table tr td { padding: 5px; }
</style>

<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Szczegóły sprzętu <%= @item.name %></h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">

        <div class='row'>

          <div class='col col-md-2'>
            <div class='text-secondary text-center' style='font-size: 6em;margin-bottom: -25px'>
              <i class="<%= @item.item_type.icon %>" aria-hidden="true"></i><br>
            </div>
            <div class='text-secondary text-center' style='font-size: 2em;'>
              <%= @item.item_type.name %>
            </div>
          </div>

          <div class='col col-md-10'>
            <h3> 
              <%= @item.name %>
            </h3>
            
            <table>
              <tr>
                <th class='text-right'>Status:</th>
                <td><%= render 'item_status', s: @item.status %></td>
              </tr>

              <tr>
                <th class='text-right'>EAN:</th>
                <td><%= @item.ean %></td>
              </tr>

              <tr>
                <th class='text-right'>Typ:</th>
                <td><i class="<%= @item.item_type.icon %>" aria-hidden="true"></i> <%= @item.item_type.name %></td>
              </tr>

              <tr>
                <th class='text-right'>Opis:</th>
                <td><%= @item.description %></td>
              </tr>
            </table>

          </div>

        </div>
        <%= link_to 'Edytuj', edit_item_path(@item), class: 'btn btn-warning' %>
        <%= link_to 'Serwisuj', item_service_path(@item), class: 'btn btn-info' %>
        <%= link_to 'Usuń', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <%= render 'history', item: @item %>
          </div>

          <div class="col-lg-6">
            <%= render 'service_history', item: @item %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>